body{
    background-color: #f3eed9 ;
}

h1{
    color: #4c3523;
    background-color: #b4763d;
     font-style: oblique;
     text-align: center;
}

h2,h3,h4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: #b4763d;
}

 .elemento-pai{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 40vh;
 }

 ul{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #b4763d;
  
 }

 p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #b4763d;
    text-align: center;
}

